body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    text-align: center;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: gray; 
    color: white; 
    border: none; 
    border-radius: 12px; 
}

.product-button {
    background-color: lightgray; 
    color: black; 
    border: 1px solid #ccc; 
    margin: 5px;
    padding: 8px;
    border-radius: 12px; 
}

#cart {
    margin-top: 20px;
    border: 1px solid #ccc;
    padding: 10px;
}

#thankYouMessage {
    display: none; 
    font-size: 2em;
    color: white;
    background-color: #4CAF50; 
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}
