body {
    font-family: kanit;
    background-color: bisque;
    text-align: center;
    padding: 20px;
}

button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    background-color: gray; 
    color: white; 
    border-radius: 12px; 
    border-color: black;
}

button:hover {
    background-color: darkgray;
}

#backButton {
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%);
}

#backButton:hover {
    background-color: darkgray;
}

.product-button {
    background-color: lightgray; 
    color: black; 
    margin: 5px;
    padding: 8px;
    border-radius: 12px; 
    border-color: black;
}


#cart {
    float: right; 
    margin-top: 20px;
    border: 2px solid darkgray;
    border-radius: 7px;
    box-shadow: 5px 5px lightgray;
    padding: 10px;
    width: 250px; 
}

#payButton {
    float: right; 
    margin-top: 20px; 
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border-radius: 12px;
    border: none;
    cursor: pointer;
}

#payButton:hover {
    background-color: #45a049; 
}


#thankYouMessage {
    display: none; 
    font-size: 2em;
    color: white;
    background-color: #4CAF50; 
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    z-index: 1000;
    text-align: center;
}

